<!DOCTYPE html>
    <html lang="en">
    <head>
        {{>headerlink}}
    </head>
    <body>
        {{>navbar}}
        <!----------main header-------->
        <div class="container-fluid main_header">
            <div class="row">
                <div class="col-md-10 col-12 mx-auto">
                    <div class="main_content">
                        <form class="temp_form">
                            <input type="text" id="cityname" placeholder="Enter Your City name" autocomplete="off">
                            <input type="submit" value="search" id="submitbtn">
                        </form>
                    </div>    

                    <div class="tempInformation">
                        <div class="top_layer">
                            <p id = "day"> Tuesday1</p>
                            <p id = "today_date">13 Oct</p>
                        </div>
                        <div class="main_layer">
                            <p id="city_name">Get Output here></p>
                            <div class="middle_layer date_hide">
                                <p id="temp"><span id="temp_real_val">0</span><sup>o</sup>C</p>
                                <p id="temp_status"><i class="fa fa-cloud" aria-hidden="true"></i></p>
                            </div>

                        </div>
                    </div>    
                   
                    
                        
                </div>
            </div>
        </div>

    <!-------footer code----------->
    {{>footer}}

    <script src = "js/main.js"></script>
      <script>  
        const getCurrentDay = () => {
            var weekday = new Array(7);
            weekday[0] = "Sunday";
            weekday[1] = "Monday";
            weekday[2] = "Tuesday";
            weekday[3] = "Wednesday";
            weekday[4] = "Thursday";
            weekday[5] = "Friday";
            weekday[6] = "Saturday";


            let CurrentTime = new Date();
             days = weekday[CurrentTime.getDay()];
             
             let day = document.getElementById('day');
            day.innerText = days;
        }

        const getCurrentDate = () => {
            const now = new Date();
            const currentdate = now.getDate();
            

            var months = ["Jan","Feb","Mar","Apr","May","June","July","Aug","Sep","Oct","Nov","Dec"];
            const month = months[now.getMonth()];
            // const current_date = now.getDate();
             let date = document.getElementById('today_date');
            date.innerText = `${currentdate} ${month}`;
            
        }
        getCurrentDate(); 
        getCurrentDay();
        
    </script>
    </body>
    </html>